.btn-block,
.media-block {
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn-block {
    margin-top: 40px;
}

video,
img {
    display: block;
    width: 400px;
    height: 225px;
    object-fit: cover;
    background: #ccc;
}

#capture-btn,
#stop-btn,
#start-btn,
#download-btn {
    user-select: none;
    width: 160px;
    height: 50px;
    font-size: 1.8rem;
    background: #333;
    color: #fff;
    border-radius: 10px;

    &:hover {
        opacity: 0.9;
    }

    &:disabled {
        background: #999;
        color: #666;
        cursor: not-allowed;
        opacity: 0.6;
    }
}
