ul {
    margin-left: 10px;
}

h2 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

ul {
    a {
        display: inline-block;
        padding: 10px;
        color: #aaa;

        &:hover {
            text-decoration: underline;
        }
    }

    h2 {
        + a {
            padding-left: 20px;
        }
    }
}
