.heading {
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
    color: #333;
}

table {
    margin: 20px auto 0;
    border-collapse: collapse;
    width: 800px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
