.nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: #aaa;
        font-size: 2rem;
        font-weight: 600;
    }
}

.active {
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    margin-top: 100px;
    height: 100px;
    background: #d8d6d6;
    color: #333;

    h2 {
        margin-top: 0;
        font-size: 2rem;
    }

    p {
        font-size: 1.8rem;
    }
}
